{block content}
<h1 n:block=title>Přihlášení | <a n:href="User:reg">Registrace nového uživatele</a></h1>

{control signInForm}

<h1 n:block=title2></h1>



{* or use {include '../components/form.latte', form => signInForm} *}
